* {
  margin: 0;
  padding: 0;
}

body {
  width: 1200px;
  margin: 0 auto !important;
  background: #c8c8c8;
}

.header {
  background-image: url(/img/back-desktop.jpg.svg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
}
.header-inner__head-menu {
  width: 100%;
  height: 114px;
  position: relative;
}
.header-inner__head-menu .dark-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 20%;
}
.header-inner__head-menu .menu {
  max-width: 940px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  opacity: 300%;
  z-index: 2;
}
.header-inner__head-menu .menu li {
  margin: auto auto;
}
.header-inner__head-menu .menu li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  font-family: "OpenSans";
  color: white;
  text-align: center;
  cursor: pointer;
}
.header-inner__head-menu .menu li:first-child {
  margin: auto 0;
  padding-right: 160px;
}
.header-inner__head-main {
  display: flex;
}
.header-inner__head-main__title {
  padding-top: 120px;
  padding-left: 130px;
  width: 300px;
  z-index: 5;
}
.header-inner__head-main__title .download .download-text {
  font-size: 50px;
  color: white;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 50px;
}
.header-inner__head-main__title .download .download-button {
  display: inline-block;
  min-width: 300px;
  min-height: 50px;
  background: none;
  color: white;
  border: 3px solid white;
  border-radius: 25px;
  font-size: 24px;
  font-family: "OpenSans";
  font-weight: bold;
  line-height: 0.857;
  text-align: center;
  cursor: pointer;
}
.header-inner__head-main__title .download .download-icons {
  padding-top: 65px;
  max-width: 205px;
  margin: 0 auto;
}
.header-inner__head-main__title .download .download-icons ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.header-inner__head-main__title .download .download-icons ul li.icons {
  cursor: pointer;
}
.header-inner__head-main__title .download .download-icons ul li:nth-child(2),
.header-inner__head-main__title .download .download-icons ul li:nth-child(3) {
  margin: auto 0;
}
.header-inner__head-main__title .download .download-subtitle {
  padding-top: 50px;
  font-size: 16px;
  line-height: 24px;
  font-family: "OpenSans";
  color: white;
  text-align: center;
}
.header-inner__head-main__title .download .download-subtitle h3 {
  font-weight: 200;
  opacity: 60%;
}
.header-inner__head-main__img img {
  padding-top: 91px;
  margin-left: -285px;
}

.main {
  padding-top: 85px;
  background: white;
}
.main-inner {
  margin: 0 auto;
}
.main-inner__title {
  font-size: 50px;
  font-family: "OpenSans";
  color: #283645;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 80px;
}
.main-inner__img {
  background-image: url(/img/background-2nd.png);
  background-repeat: no-repeat;
}
.main-inner__img-list {
  display: flex;
  list-style-type: none;
}
.main-inner__img-list li:first-child {
  padding-left: 130px;
}
.main-inner__img-list li + li {
  padding-left: 140px;
}
.main-inner__img-list .iphone-list {
  padding-bottom: 70px;
}
.main-inner__img-list .iphone-list__img {
  height: 235px;
  overflow: hidden;
  margin-bottom: 60px;
}
.main-inner__img-list .iphone-list__img-1 {
  background-image: url(/img/iphone1.png);
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  width: 180px;
  height: 300px;
  margin: 0 auto;
}
.main-inner__img-list .iphone-list__img-2 {
  background-image: url(/img/iphone2.png);
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  width: 180px;
  height: 300px;
  margin: 0 auto;
}
.main-inner__img-list .iphone-list__img-3 {
  background-image: url(/img/iphone3.png);
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  width: 180px;
  height: 300px;
  margin: 0 auto;
}
.main-inner__img-list .iphone-list__title {
  font-size: 30px;
  font-family: "OpenSans";
  color: #283645;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding-bottom: 40px;
}
.main-inner__img-list .iphone-list__subtitle {
  font-size: 20px;
  font-family: "OpenSans";
  color: #283645;
  line-height: 1.3;
  text-align: center;
}
.main-inner__effect {
  display: flex;
  background-image: url(/img/background-4nd.png);
  padding-bottom: 50px;
}
.main-inner__effect-img {
  padding-left: 200px;
}
.main-inner__effect-text {
  padding-left: 60px;
  padding-top: 90px;
}
.main-inner__effect-text__title {
  padding-bottom: 40px;
  font-size: 30px;
  font-family: "OpenSans";
  color: #283645;
  font-weight: bold;
}
.main-inner__effect-text__subtitle {
  padding-bottom: 45px;
  font-size: 20px;
  font-family: "OpenSans";
  color: #283645;
  line-height: 1;
}
.main-inner__effect-text__link {
  font-size: 20px;
  font-family: "OpenSans";
  line-height: 1;
}
.main-inner__effect-text__link a {
  color: #d22856;
  text-decoration: none;
  border-bottom: 1px solid #d22856;
}
.main-inner__review-quotes {
  padding-top: 280px;
  background-image: url(/icons/quotes.svg.png);
  background-repeat: no-repeat;
  background-position: center;
}
.main-inner__review-title {
  display: flex;
  padding-left: 160px;
  margin-top: -60px;
}
.main-inner__review-title__left {
  margin-top: 20px;
  background-image: url(/icons/left-arrow.svg.png);
  width: 22px;
  height: 41px;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-inner__review-title__text {
  font-size: 20px;
  font-family: "OpenSans";
  color: #283645;
  line-height: 1.667;
  text-align: center;
  padding-right: 100px;
  padding-left: 100px;
}
.main-inner__review-title__right {
  margin-top: 20px;
  background-image: url(/icons/right-arrow.svg.png);
  width: 22px;
  height: 41px;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-inner__review-subtitle {
  padding-top: 50px;
}
.main-inner__review-subtitle__name {
  font-size: 24px;
  font-family: "OpenSans";
  color: #283645;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
.main-inner__review-subtitle__job {
  padding-top: 5px;
  font-size: 18px;
  font-family: "OpenSans";
  color: #283645;
  line-height: 1.25;
  text-align: center;
}